<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WG test task</title>
  </head>
  <body>
    <header>
      <h1>WG test task</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Task</a></li>
        <li><a href="/react/">Implementation on React</a></li>
        <li><a href="/vue/">Implementation on VueJS</a></li>
      </ul>
    </nav>

    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
